:root {
  --color-primary: #394a59;
  --color-primary-light: #59758d;
  --color-secondary: #36bf7f;
  --color-secondary-light: #75d3a7;
  --color-secondary-dark: #1c5e3e;
  --color-secondary-pale: #def4e9;
  --color-accent: #d96666;
}
