:root {
  --color-primary: #322b37;
  --color-primary-light: #7d5c95;
  --color-secondary: #88beff;
  --color-secondary-light: #75d3a7;
  --color-secondary-dark: #1c5e3e;
  --color-secondary-pale: #d5dff2;
  --color-accent: #d96666;
}
