.accordion .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.accordion__title,
.accordion__wrap {
  grid-column: span 12;
}

.accordion__item {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.0625rem solid #ccc;
}

.accordion__title {
  margin: 0;
}

.accordion__label {
  display: block;
  text-decoration: none;
}

.accordion__label h3 {
  font-size: 1.325rem;
}

.accordion__content {
  display: none;
}

.accordion__item:target .accordion__label h3 {
  color: var(--color-accent);
}

.accordion__item:target .accordion__content {
  display: block;
}

@media only screen and (min-width: 45em) {
  .accordion__label h3 {
    font-size: 1.438rem;
  }
}

@media only screen and (min-width: 60em) {
  .accordion__title {
    grid-column: span 4;
  }

  .accordion__wrap {
    grid-column: 6 / span 7;
  }

  .accordion__label h3 {
    font-size: 1.563rem;
  }
}
