.faq .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.faq__title,
.faq__wrap {
  grid-column: span 12;
}

.faq__item {
  /* padding-bottom: 1.5rem; */
  margin-bottom: 1.5rem;
  border-bottom: 0.0625rem solid #ccc;
}

.faq__title {
  margin: 0;
}

.faq__summary {
  font-size: 1.325rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.faq__summary::marker {
  color: var(--color-secondary);
}

.faq__content {
  display: none;
}

@media only screen and (min-width: 45em) {
  .faq__summary {
    font-size: 1.438rem;
  }
}

@media only screen and (min-width: 60em) {
  .faq__title {
    grid-column: span 4;
  }

  .faq__wrap {
    grid-column: 6 / span 7;
  }

  .faq__summary {
    font-size: 1.563rem;
  }
}
