.footer {
  background-color: var(--color-primary);
  color: #fff;
  border-bottom: 0.5rem solid var(--color-secondary);
}

.footer .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover,
.footer a:focus-visible {
  color: var(--color-secondary);
}

.footer .logo {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.footer .logo__img {
  width: 4rem;
}

.footer .logo__text {
  font-size: 1.525rem;
  font-weight: bold;
  line-height: 1.3;
}

.footer ul {
  padding-left: 1.5rem;
  margin: 0;
  border-left: 0.125rem solid var(--color-secondary);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.footer .sub-footer {
  background-color: #222d36;
  color: #fff;
}

@media only screen and (min-width: 45em) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer .logo {
    flex: 2 0;
    align-self: flex-start;
  }

  .footer nav,
  .footer small {
    flex: 1 0;
  }
}

@media only screen and (min-width: 60em) {
  .footer .site-title {
    font-size: 1.956rem;
  }
}

.footer__logo {
  width: 4rem;
  display: inline-block;
}
